/* Her skaber jeg lidt mellemrum mellem h1 og cards */
.cg_cardContainer {
  margin-top: 2.5rem;
}

/* dette er selve korttet som er vores links til at komme videre */
.categoriesBox {
  width: 28rem;
  height: 13rem;
  background-color: var(--secondary-color);
  border-radius: 0.6rem;
  margin-top: 2rem;
}

/* her placere jeg teksten lidt mere i midten ved at ændre dens placering lidt */
.categories_tb {
  position: relative;
  top: 4.5em;
  left: 3em;
}

/* give teksten i kasssen størrere, og få dem i midten */
.categories_tb p {
  font-size: 2rem;
  text-align: center;
}

/* har laver et link i bunden af div'en, for at gøre at den rammer hele kassen har jeg lavet denne class */
.link {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;

  top: -43px;
}

/* placering af ikoner på siden */
.svampe_imgcontainer {
  position: absolute;
  top: 35%;
  left: 6%;
  z-index: -1;
}

.blade_imgcontainer {
  position: absolute;
  top: 90%;
  left: 95%;
  z-index: -1;
}

.plante_imgcontainer {
  position: absolute;
  top: 20%;
  left: 80%;
  z-index: -1;
}

.bølge_imgcontainer {
  position: absolute;
  top: 143%;
  left: -2%;
  z-index: -1;
}

.img_blade_sm_big {
  width: 10rem;
}

.img_svamp_sm_big {
  width: 10rem;
}

.img_bølge_sm_big {
  width: 10rem;
}

.img_plante_sm_big {
  width: 10rem;
}
