.main_ingredientlist {
  margin: 130px 0 0;
}

.emoji {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-top: 10px;
}

.round-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 23px;
  margin: 5px;
  padding: 5px 15px;
  background: var(--secondary-color);
  color: var(--text-color);
  width: fit-content;
  gap: 5px;
  justify-self: center;
}

.round-box p {
  margin: 0;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ingrediens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.directions {
  margin: 20px auto;
  max-width: 350px;
  background: var(--secondary-color);
  padding: 15px 15px 0 0;
  border-radius: 15px;
}

.directions ul {
  list-style-type: decimal;
  padding: 15px;
  color: var(--text-color);
}

.directions li {
  margin: 15px;
}

li {
  margin-bottom: 10px;
}

h3 {
  margin: 30px;
  color: var(--text-color);
  text-align: center;
}

.ingredient-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0 10px;
}

.ingredient-column {
  display: grid;
}

.ingredient-image {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.ingredient_knap {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  background: var(--text-color);
  color: var(--secondary-color);
  margin-top: 15px;
  appearance: none;
  border: none;
  outline: none;
  width: fit-content;
  cursor: pointer;
}

.ig_name,
.ingredient_icon {
  margin: 0;
}

.quiz_btn_container {
  display: grid;
  margin: 20px 0;
  justify-content: center;
}

.quiz_btn {
  background-color: var(--primary-button-color);
  border-radius: 23px;
  cursor: pointer;
  color: var(--primary-color);
  padding: 10px 15px;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.gotoquiz:hover {
  background-color: grey;
}

.switch {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.switch p {
  margin-left: 5px;
  margin-top: 0;
}

/* switch-knap */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--secondary-color);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #70b74a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Medieforespørgsel for skærme, der er bredere end 800px (tablet og desktop) */
@media (min-width: 800px) {
  .ingredient-columns {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .directions {
    margin: auto;
    margin-bottom: 70px;
  }

  .goodluck_text {
    margin-bottom: 70px;
  }

  .emoji {
    grid-template-columns: repeat(4, 1fr);
    margin: 15px 10% 50px;
  }

  .round-box {
    justify-self: center;
  }

  /* .container1 {
    flex-direction: row;
  }

  .ingrediens {
    flex-wrap: nowrap;
  }

  .ingredient-columns {
    flex-direction: row;
  } */
}

@media (min-width: 1200px) {
  .ingredient-columns {
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    margin-left: 15%;
    margin-right: 15%;
  }

  .directions {
    margin-bottom: 70px;
  }

  .goodluck_text {
    margin-bottom: 70px;
  }

  .emoji {
    grid-template-columns: repeat(4, 1fr);
    margin: 15px 20% 50px;
  }

  .round-box {
    justify-self: center;
  }

  .map-img {
    max-width: 1400px;
    margin: auto;
  }

  .quiz_btn_container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
